.idea/
*.iml
target/
build/

### скомп классы
*.class

# jar тесты и библиотеки
*.jar

# серты
*.cert
*.txt

# вых файлы
output.txt

# системный мусор
Thumbs.db
.DS_Store

# тестовые артефакты
__Test__Walk__/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store